openapi: 3.2.0
info:
  title: 7SIGNAL Impact API
  description: This is the 7SIGNAL public API for interacting with the 7SIGNAL Platform
  version: 2.21.1
  contact:
    email: info@7signal.com
  license:
    name: All Rights Reserved
    url: https://www.7signal.com/contact
servers:
- url: https://api-v2.7signal.com
  description: 7SIGNAL API Gateway (production)
tags:
- name: Impact
paths:
  /impact/agents:
    get:
      summary: Retrieve Agent Impact
      operationId: impact-agents
      description: Retrieve per-agent impact metrics within a time range.
      security:
      - oauth2: []
      parameters:
      - $ref: '#/components/parameters/common.OrganizationRequestParam'
      - $ref: '#/components/parameters/impact.FromRequestParam'
      - $ref: '#/components/parameters/impact.ToRequestParam'
      - $ref: '#/components/parameters/common.PageRequestParam'
      - $ref: '#/components/parameters/common.PerPageRequestParam'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/impact.GetAgentImpactResponse'
        '400':
          $ref: '#/components/responses/common.400BadRequestResponse'
        '404':
          $ref: '#/components/responses/common.404NotFoundResponse'
      tags:
      - Impact
  /impact/agents/by-status:
    get:
      summary: Retrieve Agent Impact by Status
      operationId: impact-agents-by-status
      description: Retrieve an aggregated summary of agent impact metrics grouped by impacted-minutes status.
      security:
      - oauth2: []
      parameters:
      - $ref: '#/components/parameters/common.OrganizationRequestParam'
      - $ref: '#/components/parameters/impact.FromRequestParam'
      - $ref: '#/components/parameters/impact.ToRequestParam'
      - $ref: '#/components/parameters/impact.MinImpactedMinutesParam'
      - $ref: '#/components/parameters/impact.MaxImpactedMinutesParam'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/impact.AgentSummary'
        '400':
          $ref: '#/components/responses/common.400BadRequestResponse'
        '404':
          $ref: '#/components/responses/common.404NotFoundResponse'
      tags:
      - Impact
  /impact/agents/summary:
    get:
      summary: Retrieve Agent Impact Summary
      operationId: impact-agents-summary
      description: Retrieve a summary of agent impact metrics within a time range.
      security:
      - oauth2: []
      parameters:
      - $ref: '#/components/parameters/common.OrganizationRequestParam'
      - $ref: '#/components/parameters/impact.FromRequestParam'
      - $ref: '#/components/parameters/impact.ToRequestParam'
      - $ref: '#/components/parameters/common.PageRequestParam'
      - $ref: '#/components/parameters/common.PerPageRequestParam'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/impact.GetAgentSummaryResponse'
        '400':
          $ref: '#/components/responses/common.400BadRequestResponse'
        '404':
          $ref: '#/components/responses/common.404NotFoundResponse'
      tags:
      - Impact
  /impact/agents/time-series:
    get:
      summary: Retrieve Agent Impact Time Series
      operationId: impact-agents-time-series
      description: Retrieve a time series of agent impact metrics with configurable granularity.
      security:
      - oauth2: []
      parameters:
      - $ref: '#/components/parameters/common.OrganizationRequestParam'
      - $ref: '#/components/parameters/impact.FromRequestParam'
      - $ref: '#/components/parameters/impact.ToRequestParam'
      - $ref: '#/components/parameters/impact.TimezoneParam'
      - $ref: '#/components/parameters/impact.GranularityParam'
      - $ref: '#/components/parameters/common.PageRequestParam'
      - $ref: '#/components/parameters/common.PerPageRequestParam'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/impact.GetAgentTimeSeriesResponse'
        '400':
          $ref: '#/components/responses/common.400BadRequestResponse'
        '404':
          $ref: '#/components/responses/common.404NotFoundResponse'
      tags:
      - Impact
  /impact/locations:
    get:
      summary: Retrieve Location Impact
      operationId: impact-locations
      description: Retrieve per-location impact metrics within a time range.
      security:
      - oauth2: []
      parameters:
      - $ref: '#/components/parameters/common.OrganizationRequestParam'
      - $ref: '#/components/parameters/impact.FromRequestParam'
      - $ref: '#/components/parameters/impact.ToRequestParam'
      - $ref: '#/components/parameters/common.PageRequestParam'
      - $ref: '#/components/parameters/common.PerPageRequestParam'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/impact.GetLocationImpactResponse'
        '400':
          $ref: '#/components/responses/common.400BadRequestResponse'
        '404':
          $ref: '#/components/responses/common.404NotFoundResponse'
      tags:
      - Impact
components:
  parameters:
    impact.ToRequestParam:
      name: to
      in: query
      description: End time in milliseconds from the epoch.
      required: true
      schema:
        type: integer
    impact.FromRequestParam:
      name: from
      in: query
      description: Start time in milliseconds from the epoch.
      required: true
      schema:
        type: integer
    common.PageRequestParam:
      name: page
      in: query
      description: Fetch a particular page of data. The first page is 1.
      required: false
      schema:
        type: integer
        minimum: 1
    common.OrganizationRequestParam:
      name: organization
      in: query
      description: Fetch a specific organization. By default, the organization associated with your JWT token will be used.
      required: false
      schema:
        type: string
    impact.TimezoneParam:
      name: timezone
      in: query
      description: Timezone for time-series bucketing (e.g. 'America/New_York').
      required: false
      schema:
        type: string
    impact.MinImpactedMinutesParam:
      name: minImpactedMinutes
      in: query
      description: Filter agents with at least this many impacted minutes.
      required: false
      schema:
        type: integer
        format: int64
    common.PerPageRequestParam:
      name: perPage
      in: query
      description: Fetch a specific number of records per page
      required: false
      schema:
        type: integer
    impact.MaxImpactedMinutesParam:
      name: maxImpactedMinutes
      in: query
      description: Filter agents with at most this many impacted minutes.
      required: false
      schema:
        type: integer
        format: int64
    impact.GranularityParam:
      name: granularity
      in: query
      description: Time-series granularity.
      required: false
      schema:
        type: string
        enum:
        - HOUR
        - DAY
        - MONTH
  schemas:
    impact.GetAgentSummaryResponse:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/impact.AgentSummary'
        pagination:
          $ref: '#/components/schemas/common.Pagination'
    impact.AgentImpactRow:
      type: object
      properties:
        deviceId:
          type: string
        deviceName:
          type:
          - string
          - 'null'
        minutesImpactedExperienceScore:
          type: integer
          format: int64
        minutesImpactedRoaming:
          type: integer
          format: int64
        minutesImpactedCoverage:
          type: integer
          format: int64
        minutesImpactedCongestion:
          type: integer
          format: int64
        minutesImpactedInterference:
          type: integer
          format: int64
        minutesImpactedConnectivity:
          type: integer
          format: int64
        minutesMonitored:
          type: integer
          format: int64
    impact.GetLocationImpactResponse:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/impact.LocationImpactRow'
        pagination:
          $ref: '#/components/schemas/common.Pagination'
    impact.GetAgentImpactResponse:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/impact.AgentImpactRow'
        pagination:
          $ref: '#/components/schemas/common.Pagination'
    impact.AgentTimeSeriesRow:
      type: object
      properties:
        timestamp:
          type: integer
          format: int64
        minutesImpactedExperienceScore:
          type: integer
          format: int64
        minutesImpactedRoaming:
          type: integer
          format: int64
        minutesImpactedCoverage:
          type: integer
          format: int64
        minutesImpactedCongestion:
          type: integer
          format: int64
        minutesImpactedInterference:
          type: integer
          format: int64
        minutesImpactedConnectivity:
          type: integer
          format: int64
        minutesMonitored:
          type: integer
          format: int64
        deviceCount:
          type: integer
          format: int64
    common.ResponseStatusException:
      type: object
      required:
      - timestamp
      - status
      - error
      - path
      - requestId
      properties:
        timestamp:
          type: string
          format: date-time
        status:
          type: integer
        error:
          type: string
        message:
          type: string
        path:
          type: string
        requestId:
          type: string
    impact.AgentSummary:
      type: object
      properties:
        minutesImpactedExperienceScore:
          type: integer
          format: int64
        minutesImpactedRoaming:
          type: integer
          format: int64
        minutesImpactedCoverage:
          type: integer
          format: int64
        minutesImpactedCongestion:
          type: integer
          format: int64
        minutesImpactedInterference:
          type: integer
          format: int64
        minutesImpactedConnectivity:
          type: integer
          format: int64
        minutesMonitored:
          type: integer
          format: int64
        deviceCount:
          type: integer
          format: int64
    common.Pagination:
      type: object
      required:
      - perPage
      - page
      - total
      - pages
      properties:
        perPage:
          type: integer
          example: 10
        page:
          type: integer
          description: The current page number. The first page is 1
          minimum: 1
          example: 2
        total:
          type: integer
          example: 45
        pages:
          type: integer
          example: 5
    impact.LocationImpactRow:
      type: object
      properties:
        locationId:
          type: string
        locationName:
          type:
          - string
          - 'null'
        minutesImpactedExperienceScore:
          type: integer
          format: int64
        minutesImpactedRoaming:
          type: integer
          format: int64
        minutesImpactedCoverage:
          type: integer
          format: int64
        minutesImpactedCongestion:
          type: integer
          format: int64
        minutesImpactedInterference:
          type: integer
          format: int64
        minutesImpactedConnectivity:
          type: integer
          format: int64
        minutesMonitored:
          type: integer
          format: int64
    impact.GetAgentTimeSeriesResponse:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/impact.AgentTimeSeriesRow'
        pagination:
          $ref: '#/components/schemas/common.Pagination'
  responses:
    common.400BadRequestResponse:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/common.ResponseStatusException'
    common.404NotFoundResponse:
      description: Resource Not Found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/common.ResponseStatusException'
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: /oauth2/token
          scopes: {}
