openapi: 3.2.0
info:
  title: 7SIGNAL Locations API
  description: This is the 7SIGNAL public API for interacting with the 7SIGNAL Platform
  version: 2.21.1
  contact:
    email: info@7signal.com
  license:
    name: All Rights Reserved
    url: https://www.7signal.com/contact
servers:
- url: https://api-v2.7signal.com
  description: 7SIGNAL API Gateway (production)
tags:
- name: Locations
paths:
  /locations/agents:
    get:
      summary: List the Agent Locations
      operationId: agent-locations-get
      description: Page through all of the Agent Locations
      security:
      - oauth2: []
      parameters:
      - $ref: '#/components/parameters/common.OrganizationRequestParam'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/locations.GetAgentLocationsResponse'
        '400':
          $ref: '#/components/responses/common.400BadRequestResponse'
        '404':
          $ref: '#/components/responses/common.404NotFoundResponse'
      tags:
      - Locations
    post:
      summary: Creates an Agent Location
      operationId: agent-locations-post
      parameters:
      - $ref: '#/components/parameters/common.OrganizationRequestParam'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/locations.AgentLocationRequest'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/locations.AgentLocationResponse'
        '400':
          $ref: '#/components/responses/common.400BadRequestResponse'
      security:
      - oauth2: []
      tags:
      - Locations
  /locations/agents/{locationId}:
    get:
      summary: Fetch the specified Agent Location
      operationId: agent-location-get
      security:
      - oauth2: []
      parameters:
      - $ref: '#/components/parameters/common.OrganizationRequestParam'
      - name: locationId
        in: path
        description: Fetch the specific Location referenced by its id
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/locations.GetAgentLocationResponse'
        '400':
          $ref: '#/components/responses/common.400BadRequestResponse'
        '404':
          $ref: '#/components/responses/common.404NotFoundResponse'
      tags:
      - Locations
    put:
      summary: Replace the specified Agent Location with the details in the payload
      operationId: agent-location-put
      parameters:
      - $ref: '#/components/parameters/common.OrganizationRequestParam'
      - name: locationId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/locations.AgentLocationRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/locations.AgentLocationResponse'
        '400':
          $ref: '#/components/responses/common.400BadRequestResponse'
        '404':
          $ref: '#/components/responses/common.404NotFoundResponse'
      security:
      - oauth2: []
      tags:
      - Locations
    delete:
      summary: Delete the Agent Location specified by the UUID
      operationId: agent-location-delete
      parameters:
      - $ref: '#/components/parameters/common.OrganizationRequestParam'
      - name: locationId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '204':
          description: No Content
        '404':
          $ref: '#/components/responses/common.404NotFoundResponse'
      security:
      - oauth2: []
      tags:
      - Locations
  /locations/sensors:
    get:
      summary: List the Sensor Locations
      operationId: sensor-locations-get
      description: Page through all of the Sensor Locations
      security:
      - oauth2: []
      parameters:
      - name: locationId
        in: query
        description: Filter the specific location by its parent location id
        required: false
        schema:
          type: number
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/locations.GetSensorLocationsResponse'
        '400':
          $ref: '#/components/responses/common.400BadRequestResponse'
        '404':
          $ref: '#/components/responses/common.404NotFoundResponse'
      tags:
      - Locations
    post:
      summary: Creates Sensor Locations
      operationId: sensor-locations-post
      description: 'Returns the new locations, required fields: name, and exactly one of parentOrganizationId/parentLocationId. The timeZone field accepts a timezone value like "UTC", "EST", or "GMT", or "INHERIT"/omit to leave it unset - "INHERIT" only resolves to a real ancestor''s timezone when created with parentLocationId; under parentOrganizationId there''s no parent Location to inherit from, so it falls back to the default timezone instead. The countryCode field accepts a CountryCode value - either its ISO 3166-1 alpha-2 code (e.g. "US") or its constant name (e.g. "UNITED_STATES"), case-insensitive'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/locations.PostSensorLocationsRequest'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/locations.GetSensorLocationsResponse'
        '400':
          $ref: '#/components/responses/common.400BadRequestResponse'
      security:
      - oauth2: []
      tags:
      - Locations
    put:
      summary: Updates Sensor Locations
      operationId: sensor-locations-put
      description: 'Returns the updated locations, required fields: name. The timeZone field accepts a timezone value like "UTC", "EST", or "GMT", or "INHERIT"/omit to leave it unset - "INHERIT" only resolves to a real ancestor''s timezone when created with parentLocationId; a top-level location under an Organization has no parent Location to inherit from, so it falls back to the default timezone instead. The countryCode field accepts a CountryCode value - either its ISO 3166-1 alpha-2 code (e.g. "US") or its enum constant name (e.g. "UNITED_STATES"), case-insensitive'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/locations.PutSensorLocationsRequest'
        required: true
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/locations.GetSensorLocationsResponse'
        '400':
          $ref: '#/components/responses/common.400BadRequestResponse'
      security:
      - oauth2: []
      tags:
      - Locations
    delete:
      summary: Deletes Sensor Locations
      operationId: sensor-locations-delete
      parameters:
      - $ref: '#/components/parameters/locations.DeleteSensorLocationIds'
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/common.400BadRequestResponse'
      security:
      - oauth2: []
      tags:
      - Locations
  /locations/sensors/{locationId}:
    get:
      summary: Fetch the specified Sensor Location
      operationId: sensor-location
      security:
      - oauth2: []
      parameters:
      - name: locationId
        in: path
        description: Fetch the specific location by its id
        required: true
        schema:
          type: number
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/locations.GetSensorLocationResponse'
        '400':
          $ref: '#/components/responses/common.400BadRequestResponse'
        '404':
          $ref: '#/components/responses/common.404NotFoundResponse'
      tags:
      - Locations
    put:
      summary: Update the specified Sensor Location
      operationId: sensor-location-put
      description: 'Returns the updated location, required fields: name. The timeZone field accepts a timezone value like "UTC", "EST", or "GMT", or "INHERIT"/omit to leave it unset - "INHERIT" only resolves to a real ancestor''s timezone when created with parentLocationId; a top-level location under an Organization has no parent Location to inherit from, so it falls back to the default timezone instead. The countryCode field accepts a CountryCode value - either its ISO 3166-1 alpha-2 code (e.g. "US") or its enum constant name (e.g. "UNITED_STATES"), case-insensitive'
      security:
      - oauth2: []
      parameters:
      - $ref: '#/components/parameters/locations.SensorLocationId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/locations.SensorSingleUpdateLocationRequest'
        required: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/locations.GetSensorLocationResponse'
        '400':
          $ref: '#/components/responses/common.400BadRequestResponse'
        '404':
          $ref: '#/components/responses/common.404NotFoundResponse'
      tags:
      - Locations
    delete:
      summary: Delete the specified Sensor Location
      operationId: sensor-location-delete
      parameters:
      - $ref: '#/components/parameters/locations.SensorLocationId'
      responses:
        '204':
          description: No Content
        '400':
          $ref: '#/components/responses/common.400BadRequestResponse'
      security:
      - oauth2: []
      tags:
      - Locations
components:
  schemas:
    locations.TimeZoneId:
      type: string
      description: A valid TimeZone identifier
      enum:
      - ACT
      - AET
      - AGT
      - ART
      - AST
      - Africa/Abidjan
      - Africa/Accra
      - Africa/Addis_Ababa
      - Africa/Algiers
      - Africa/Asmara
      - Africa/Asmera
      - Africa/Bamako
      - Africa/Bangui
      - Africa/Banjul
      - Africa/Bissau
      - Africa/Blantyre
      - Africa/Brazzaville
      - Africa/Bujumbura
      - Africa/Cairo
      - Africa/Casablanca
      - Africa/Ceuta
      - Africa/Conakry
      - Africa/Dakar
      - Africa/Dar_es_Salaam
      - Africa/Djibouti
      - Africa/Douala
      - Africa/El_Aaiun
      - Africa/Freetown
      - Africa/Gaborone
      - Africa/Harare
      - Africa/Johannesburg
      - Africa/Juba
      - Africa/Kampala
      - Africa/Khartoum
      - Africa/Kigali
      - Africa/Kinshasa
      - Africa/Lagos
      - Africa/Libreville
      - Africa/Lome
      - Africa/Luanda
      - Africa/Lubumbashi
      - Africa/Lusaka
      - Africa/Malabo
      - Africa/Maputo
      - Africa/Maseru
      - Africa/Mbabane
      - Africa/Mogadishu
      - Africa/Monrovia
      - Africa/Nairobi
      - Africa/Ndjamena
      - Africa/Niamey
      - Africa/Nouakchott
      - Africa/Ouagadougou
      - Africa/Porto-Novo
      - Africa/Sao_Tome
      - Africa/Timbuktu
      - Africa/Tripoli
      - Africa/Tunis
      - Africa/Windhoek
      - America/Adak
      - America/Anchorage
      - America/Anguilla
      - America/Antigua
      - America/Araguaina
      - America/Argentina/Buenos_Aires
      - America/Argentina/Catamarca
      - America/Argentina/ComodRivadavia
      - America/Argentina/Cordoba
      - America/Argentina/Jujuy
      - America/Argentina/La_Rioja
      - America/Argentina/Mendoza
      - America/Argentina/Rio_Gallegos
      - America/Argentina/Salta
      - America/Argentina/San_Juan
      - America/Argentina/San_Luis
      - America/Argentina/Tucuman
      - America/Argentina/Ushuaia
      - America/Aruba
      - America/Asuncion
      - America/Atikokan
      - America/Atka
      - America/Bahia
      - America/Bahia_Banderas
      - America/Barbados
      - America/Belem
      - America/Belize
      - America/Blanc-Sablon
      - America/Boa_Vista
      - America/Bogota
      - America/Boise
      - America/Buenos_Aires
      - America/Cambridge_Bay
      - America/Campo_Grande
      - America/Cancun
      - America/Caracas
      - America/Catamarca
      - America/Cayenne
      - America/Cayman
      - America/Chicago
      - America/Chihuahua
      - America/Coral_Harbour
      - America/Cordoba
      - America/Costa_Rica
      - America/Creston
      - America/Cuiaba
      - America/Curacao
      - America/Danmarkshavn
      - America/Dawson
      - America/Dawson_Creek
      - America/Denver
      - America/Detroit
      - America/Dominica
      - America/Edmonton
      - America/Eirunepe
      - America/El_Salvador
      - America/Ensenada
      - America/Fort_Nelson
      - America/Fort_Wayne
      - America/Fortaleza
      - America/Glace_Bay
      - America/Godthab
      - America/Goose_Bay
      - America/Grand_Turk
      - America/Grenada
      - America/Guadeloupe
      - America/Guatemala
      - America/Guayaquil
      - America/Guyana
      - America/Halifax
      - America/Havana
      - America/Hermosillo
      - America/Indiana/Indianapolis
      - America/Indiana/Knox
      - America/Indiana/Marengo
      - America/Indiana/Petersburg
      - America/Indiana/Tell_City
      - America/Indiana/Vevay
      - America/Indiana/Vincennes
      - America/Indiana/Winamac
      - America/Indianapolis
      - America/Inuvik
      - America/Iqaluit
      - America/Jamaica
      - America/Jujuy
      - America/Juneau
      - America/Kentucky/Louisville
      - America/Kentucky/Monticello
      - America/Knox_IN
      - America/Kralendijk
      - America/La_Paz
      - America/Lima
      - America/Los_Angeles
      - America/Louisville
      - America/Lower_Princes
      - America/Maceio
      - America/Managua
      - America/Manaus
      - America/Marigot
      - America/Martinique
      - America/Matamoros
      - America/Mazatlan
      - America/Mendoza
      - America/Menominee
      - America/Merida
      - America/Metlakatla
      - America/Mexico_City
      - America/Miquelon
      - America/Moncton
      - America/Monterrey
      - America/Montevideo
      - America/Montreal
      - America/Montserrat
      - America/Nassau
      - America/New_York
      - America/Nipigon
      - America/Nome
      - America/Noronha
      - America/North_Dakota/Beulah
      - America/North_Dakota/Center
      - America/North_Dakota/New_Salem
      - America/Nuuk
      - America/Ojinaga
      - America/Panama
      - America/Pangnirtung
      - America/Paramaribo
      - America/Phoenix
      - America/Port-au-Prince
      - America/Port_of_Spain
      - America/Porto_Acre
      - America/Porto_Velho
      - America/Puerto_Rico
      - America/Punta_Arenas
      - America/Rainy_River
      - America/Rankin_Inlet
      - America/Recife
      - America/Regina
      - America/Resolute
      - America/Rio_Branco
      - America/Rosario
      - America/Santa_Isabel
      - America/Santarem
      - America/Santiago
      - America/Santo_Domingo
      - America/Sao_Paulo
      - America/Scoresbysund
      - America/Shiprock
      - America/Sitka
      - America/St_Barthelemy
      - America/St_Johns
      - America/St_Kitts
      - America/St_Lucia
      - America/St_Thomas
      - America/St_Vincent
      - America/Swift_Current
      - America/Tegucigalpa
      - America/Thule
      - America/Thunder_Bay
      - America/Tijuana
      - America/Toronto
      - America/Tortola
      - America/Vancouver
      - America/Virgin
      - America/Whitehorse
      - America/Winnipeg
      - America/Yakutat
      - America/Yellowknife
      - Antarctica/Casey
      - Antarctica/Davis
      - Antarctica/DumontDUrville
      - Antarctica/Macquarie
      - Antarctica/Mawson
      - Antarctica/McMurdo
      - Antarctica/Palmer
      - Antarctica/Rothera
      - Antarctica/South_Pole
      - Antarctica/Syowa
      - Antarctica/Troll
      - Antarctica/Vostok
      - Arctic/Longyearbyen
      - Asia/Aden
      - Asia/Almaty
      - Asia/Amman
      - Asia/Anadyr
      - Asia/Aqtau
      - Asia/Aqtobe
      - Asia/Ashgabat
      - Asia/Ashkhabad
      - Asia/Atyrau
      - Asia/Baghdad
      - Asia/Bahrain
      - Asia/Baku
      - Asia/Bangkok
      - Asia/Barnaul
      - Asia/Beirut
      - Asia/Bishkek
      - Asia/Brunei
      - Asia/Calcutta
      - Asia/Chita
      - Asia/Choibalsan
      - Asia/Chongqing
      - Asia/Chungking
      - Asia/Colombo
      - Asia/Dacca
      - Asia/Damascus
      - Asia/Dhaka
      - Asia/Dili
      - Asia/Dubai
      - Asia/Dushanbe
      - Asia/Famagusta
      - Asia/Gaza
      - Asia/Harbin
      - Asia/Hebron
      - Asia/Ho_Chi_Minh
      - Asia/Hong_Kong
      - Asia/Hovd
      - Asia/Irkutsk
      - Asia/Istanbul
      - Asia/Jakarta
      - Asia/Jayapura
      - Asia/Jerusalem
      - Asia/Kabul
      - Asia/Kamchatka
      - Asia/Karachi
      - Asia/Kashgar
      - Asia/Kathmandu
      - Asia/Katmandu
      - Asia/Khandyga
      - Asia/Kolkata
      - Asia/Krasnoyarsk
      - Asia/Kuala_Lumpur
      - Asia/Kuching
      - Asia/Kuwait
      - Asia/Macao
      - Asia/Macau
      - Asia/Magadan
      - Asia/Makassar
      - Asia/Manila
      - Asia/Muscat
      - Asia/Nicosia
      - Asia/Novokuznetsk
      - Asia/Novosibirsk
      - Asia/Omsk
      - Asia/Oral
      - Asia/Phnom_Penh
      - Asia/Pontianak
      - Asia/Pyongyang
      - Asia/Qatar
      - Asia/Qostanay
      - Asia/Qyzylorda
      - Asia/Rangoon
      - Asia/Riyadh
      - Asia/Saigon
      - Asia/Sakhalin
      - Asia/Samarkand
      - Asia/Seoul
      - Asia/Shanghai
      - Asia/Singapore
      - Asia/Srednekolymsk
      - Asia/Taipei
      - Asia/Tashkent
      - Asia/Tbilisi
      - Asia/Tehran
      - Asia/Tel_Aviv
      - Asia/Thimbu
      - Asia/Thimphu
      - Asia/Tokyo
      - Asia/Tomsk
      - Asia/Ujung_Pandang
      - Asia/Ulaanbaatar
      - Asia/Ulan_Bator
      - Asia/Urumqi
      - Asia/Ust-Nera
      - Asia/Vientiane
      - Asia/Vladivostok
      - Asia/Yakutsk
      - Asia/Yangon
      - Asia/Yekaterinburg
      - Asia/Yerevan
      - Atlantic/Azores
      - Atlantic/Bermuda
      - Atlantic/Canary
      - Atlantic/Cape_Verde
      - Atlantic/Faeroe
      - Atlantic/Faroe
      - Atlantic/Jan_Mayen
      - Atlantic/Madeira
      - Atlantic/Reykjavik
      - Atlantic/South_Georgia
      - Atlantic/St_Helena
      - Atlantic/Stanley
      - Australia/ACT
      - Australia/Adelaide
      - Australia/Brisbane
      - Australia/Broken_Hill
      - Australia/Canberra
      - Australia/Currie
      - Australia/Darwin
      - Australia/Eucla
      - Australia/Hobart
      - Australia/LHI
      - Australia/Lindeman
      - Australia/Lord_Howe
      - Australia/Melbourne
      - Australia/NSW
      - Australia/North
      - Australia/Perth
      - Australia/Queensland
      - Australia/South
      - Australia/Sydney
      - Australia/Tasmania
      - Australia/Victoria
      - Australia/West
      - Australia/Yancowinna
      - BET
      - BST
      - Brazil/Acre
      - Brazil/DeNoronha
      - Brazil/East
      - Brazil/West
      - CAT
      - CET
      - CNT
      - CST
      - CST6CDT
      - CTT
      - Canada/Atlantic
      - Canada/Central
      - Canada/Eastern
      - Canada/Mountain
      - Canada/Newfoundland
      - Canada/Pacific
      - Canada/Saskatchewan
      - Canada/Yukon
      - Chile/Continental
      - Chile/EasterIsland
      - Cuba
      - EAT
      - ECT
      - EET
      - EST
      - EST5EDT
      - Egypt
      - Eire
      - Etc/GMT
      - Etc/GMT+0
      - Etc/GMT+1
      - Etc/GMT+10
      - Etc/GMT+11
      - Etc/GMT+12
      - Etc/GMT+2
      - Etc/GMT+3
      - Etc/GMT+4
      - Etc/GMT+5
      - Etc/GMT+6
      - Etc/GMT+7
      - Etc/GMT+8
      - Etc/GMT+9
      - Etc/GMT-0
      - Etc/GMT-1
      - Etc/GMT-10
      - Etc/GMT-11
      - Etc/GMT-12
      - Etc/GMT-13
      - Etc/GMT-14
      - Etc/GMT-2
      - Etc/GMT-3
      - Etc/GMT-4
      - Etc/GMT-5
      - Etc/GMT-6
      - Etc/GMT-7
      - Etc/GMT-8
      - Etc/GMT-9
      - Etc/GMT0
      - Etc/Greenwich
      - Etc/UCT
      - Etc/UTC
      - Etc/Universal
      - Etc/Zulu
      - Europe/Amsterdam
      - Europe/Andorra
      - Europe/Astrakhan
      - Europe/Athens
      - Europe/Belfast
      - Europe/Belgrade
      - Europe/Berlin
      - Europe/Bratislava
      - Europe/Brussels
      - Europe/Bucharest
      - Europe/Budapest
      - Europe/Busingen
      - Europe/Chisinau
      - Europe/Copenhagen
      - Europe/Dublin
      - Europe/Gibraltar
      - Europe/Guernsey
      - Europe/Helsinki
      - Europe/Isle_of_Man
      - Europe/Istanbul
      - Europe/Jersey
      - Europe/Kaliningrad
      - Europe/Kiev
      - Europe/Kirov
      - Europe/Lisbon
      - Europe/Ljubljana
      - Europe/London
      - Europe/Luxembourg
      - Europe/Madrid
      - Europe/Malta
      - Europe/Mariehamn
      - Europe/Minsk
      - Europe/Monaco
      - Europe/Moscow
      - Europe/Nicosia
      - Europe/Oslo
      - Europe/Paris
      - Europe/Podgorica
      - Europe/Prague
      - Europe/Riga
      - Europe/Rome
      - Europe/Samara
      - Europe/San_Marino
      - Europe/Sarajevo
      - Europe/Saratov
      - Europe/Simferopol
      - Europe/Skopje
      - Europe/Sofia
      - Europe/Stockholm
      - Europe/Tallinn
      - Europe/Tirane
      - Europe/Tiraspol
      - Europe/Ulyanovsk
      - Europe/Uzhgorod
      - Europe/Vaduz
      - Europe/Vatican
      - Europe/Vienna
      - Europe/Vilnius
      - Europe/Volgograd
      - Europe/Warsaw
      - Europe/Zagreb
      - Europe/Zaporozhye
      - Europe/Zurich
      - GB
      - GB-Eire
      - GMT
      - GMT0
      - Greenwich
      - HST
      - Hongkong
      - IET
      - IST
      - Iceland
      - Indian/Antananarivo
      - Indian/Chagos
      - Indian/Christmas
      - Indian/Cocos
      - Indian/Comoro
      - Indian/Kerguelen
      - Indian/Mahe
      - Indian/Maldives
      - Indian/Mauritius
      - Indian/Mayotte
      - Indian/Reunion
      - Iran
      - Israel
      - JST
      - Jamaica
      - Japan
      - Kwajalein
      - Libya
      - MET
      - MIT
      - MST
      - MST7MDT
      - Mexico/BajaNorte
      - Mexico/BajaSur
      - Mexico/General
      - NET
      - NST
      - NZ
      - NZ-CHAT
      - Navajo
      - PLT
      - PNT
      - PRC
      - PRT
      - PST
      - PST8PDT
      - Pacific/Apia
      - Pacific/Auckland
      - Pacific/Bougainville
      - Pacific/Chatham
      - Pacific/Chuuk
      - Pacific/Easter
      - Pacific/Efate
      - Pacific/Enderbury
      - Pacific/Fakaofo
      - Pacific/Fiji
      - Pacific/Funafuti
      - Pacific/Galapagos
      - Pacific/Gambier
      - Pacific/Guadalcanal
      - Pacific/Guam
      - Pacific/Honolulu
      - Pacific/Johnston
      - Pacific/Kiritimati
      - Pacific/Kosrae
      - Pacific/Kwajalein
      - Pacific/Majuro
      - Pacific/Marquesas
      - Pacific/Midway
      - Pacific/Nauru
      - Pacific/Niue
      - Pacific/Norfolk
      - Pacific/Noumea
      - Pacific/Pago_Pago
      - Pacific/Palau
      - Pacific/Pitcairn
      - Pacific/Pohnpei
      - Pacific/Ponape
      - Pacific/Port_Moresby
      - Pacific/Rarotonga
      - Pacific/Saipan
      - Pacific/Samoa
      - Pacific/Tahiti
      - Pacific/Tarawa
      - Pacific/Tongatapu
      - Pacific/Truk
      - Pacific/Wake
      - Pacific/Wallis
      - Pacific/Yap
      - Poland
      - Portugal
      - ROK
      - SST
      - Singapore
      - SystemV/AST4
      - SystemV/AST4ADT
      - SystemV/CST6
      - SystemV/CST6CDT
      - SystemV/EST5
      - SystemV/EST5EDT
      - SystemV/HST10
      - SystemV/MST7
      - SystemV/MST7MDT
      - SystemV/PST8
      - SystemV/PST8PDT
      - SystemV/YST9
      - SystemV/YST9YDT
      - Turkey
      - UCT
      - US/Alaska
      - US/Aleutian
      - US/Arizona
      - US/Central
      - US/East-Indiana
      - US/Eastern
      - US/Hawaii
      - US/Indiana-Starke
      - US/Michigan
      - US/Mountain
      - US/Pacific
      - US/Samoa
      - UTC
      - Universal
      - VST
      - W-SU
      - WET
      - Zulu
    locations.GetAgentLocationResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        organization:
          type: string
        parent:
          type: string
          format: uuid
        children:
          type: array
          items:
            $ref: '#/components/schemas/locations.AgentLocationResponse'
        serviceAreas:
          type: array
          items:
            $ref: '#/components/schemas/service-areas.AgentServiceArea'
    locations.SensorCreateLocationRequest:
      type: object
      properties:
        name:
          type: string
        locationType:
          type: string
          enum:
          - UNDEFINED
          - REGION
          - COUNTRY
          - STATE
          - CITY
          - DISTRICT
          - BUILDING
        parentOrganizationId:
          type: number
          example: '123'
          description: The parent Organization's id, to create this as a top-level location under an Organization - exactly one of parentOrganizationId/parentLocationId must be provided
        parentLocationId:
          type: number
          example: '42'
          description: The parent Location's id, to create this as a sub-location under another Location instead - exactly one of parentOrganizationId/parentLocationId must be provided
        timeZone:
          description: A java.util.TimeZone id, or "INHERIT"/omit to leave it unset. "INHERIT" only resolves to a real ancestor's timezone when created with parentLocationId - under parentOrganizationId there's no parent Location to inherit from, so it falls back to the Carat server's own default timezone instead
          example: America/New_York
          oneOf:
          - $ref: '#/components/schemas/locations.TimeZoneId'
          - type: string
            enum:
            - INHERIT
        countryCode:
          $ref: '#/components/schemas/locations.CountryCodeName'
    locations.AgentLocationResponse:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        organization:
          type: string
        parent:
          type: string
          format: uuid
    common.ResponseStatusException:
      type: object
      required:
      - timestamp
      - status
      - error
      - path
      - requestId
      properties:
        timestamp:
          type: string
          format: date-time
        status:
          type: integer
        error:
          type: string
        message:
          type: string
        path:
          type: string
        requestId:
          type: string
    locations.PostSensorLocationsRequest:
      type: object
      properties:
        locations:
          type: array
          items:
            $ref: '#/components/schemas/locations.SensorCreateLocationRequest'
    common.Pagination:
      type: object
      required:
      - perPage
      - page
      - total
      - pages
      properties:
        perPage:
          type: integer
          example: 10
        page:
          type: integer
          description: The current page number. The first page is 1
          minimum: 1
          example: 2
        total:
          type: integer
          example: 45
        pages:
          type: integer
          example: 5
    locations.AgentLocationRequest:
      type: object
      properties:
        name:
          type: string
        parent:
          type: string
          format: uuid
    locations.GetAgentLocationsResponse:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/locations.AgentLocationResponse'
        pagination:
          $ref: '#/components/schemas/common.Pagination'
    locations.PutSensorLocationsRequest:
      type: object
      properties:
        locations:
          type: array
          items:
            $ref: '#/components/schemas/locations.SensorUpdateLocationRequest'
    locations.SensorUpdateLocationRequest:
      type: object
      properties:
        id:
          type: number
        name:
          type: string
        description:
          type: string
        locationType:
          type: string
          enum:
          - UNDEFINED
          - REGION
          - COUNTRY
          - STATE
          - CITY
          - DISTRICT
          - BUILDING
        timeZone:
          description: A java.util.TimeZone id, "INHERIT" to inherit from the parent location, or omit to leave unchanged. "INHERIT" only resolves to a real ancestor's timezone if this location has a parent Location (was created with parentLocationId) - a top-level location under an Organization has no parent Location to inherit from, so it falls back to the Carat server's own default timezone instead
          example: America/New_York
          oneOf:
          - $ref: '#/components/schemas/locations.TimeZoneId'
          - type: string
            enum:
            - INHERIT
        countryCode:
          $ref: '#/components/schemas/locations.CountryCodeName'
    locations.SensorLocation:
      type: object
      properties:
        id:
          type: number
        name:
          type: string
        description:
          type: string
        parentId:
          type: number
          description: The parent Location's id - null if this is a top-level location under an Organization rather than a sub-location of another Location
        parentOrganizationId:
          type: number
          description: The parent Organization's id - always present, even for a sub-location of another Location (derived from that parent Location's own organization)
        countryCode:
          $ref: '#/components/schemas/locations.CountryCodeName'
        timeZone:
          $ref: '#/components/schemas/locations.TimeZoneId'
        inheritedTimeZone:
          $ref: '#/components/schemas/locations.TimeZoneId'
        timeZoneLocation:
          type: string
          example: hm1
          description: Name of the ancestor Location where the inherited timezone came from - only meaningful when timeZone is null
    locations.GetSensorLocationResponse:
      $ref: '#/components/schemas/locations.SensorLocation'
    locations.GetSensorLocationsResponse:
      type: object
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/locations.SensorLocation'
        pagination:
          $ref: '#/components/schemas/common.Pagination'
    locations.SensorSingleUpdateLocationRequest:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        locationType:
          type: string
          enum:
          - UNDEFINED
          - REGION
          - COUNTRY
          - STATE
          - CITY
          - DISTRICT
          - BUILDING
        timeZone:
          description: A java.util.TimeZone id, "INHERIT" to inherit from the parent location, or omit to leave unchanged. "INHERIT" only resolves to a real ancestor's timezone if this location has a parent Location (was created with parentLocationId) - a top-level location under an Organization has no parent Location to inherit from, so it falls back to the Carat server's own default timezone instead
          example: America/New_York
          oneOf:
          - $ref: '#/components/schemas/locations.TimeZoneId'
          - type: string
            enum:
            - INHERIT
        countryCode:
          $ref: '#/components/schemas/locations.CountryCodeName'
    locations.CountryCodeName:
      type: string
      description: A CountryCode enum constant name. The ISO 3166-1 alpha-2 code (e.g. "US") is also accepted on write, case-insensitively, but is not reflected in this enum list
      enum:
      - WORLD
      - ANDORRA
      - UAE
      - AFGHANISTAN
      - ANTIGUA_AND_BARBUDA
      - ALBANIA
      - ANGUILLA
      - ARMENIA
      - NETHERLANDS_ANTILLES
      - ARGENTINA
      - AMERICAN_SAMOA
      - AUSTRIA
      - ANGOLA
      - AUSTRALIA
      - ARUBA
      - ALAND_ISLANDS
      - AZERBAIJAN
      - ANTARCTICA
      - BOSNIA_HERZ
      - BARBADOS
      - BANGLADESH
      - BELGIUM
      - BURKINA_FASO
      - BULGARIA
      - BAHRAIN
      - BURUNDI
      - BENIN
      - SAINT_BARTHELEMY
      - BERMUDA
      - BRUNEI_DARUSSALAM
      - BOLIVIA
      - BONAIRE
      - BRAZIL
      - BAHAMAS
      - BHUTAN
      - BOTSWANA
      - BOUVET_ISLAND
      - BELARUS
      - BELIZE
      - CANADA
      - COCOS_ISLANDS
      - CONGO_DEMOCRATIC_REPUBLIC
      - CENTRAL_AFRICAN_REPUBLIC
      - CONGO
      - SWITZERLAND
      - COTE_DLVOIRE
      - COOK_ISLANDS
      - CHILE
      - CAMEROON
      - CHINA
      - COLOMBIA
      - EQUATORIAL_GUINEA
      - COSTA_RICA
      - CHRISTMAS_ISLAND
      - CUBA
      - CAP_VERDE
      - CURACAO
      - CYPRUS
      - CZECH
      - GERMANY
      - DJIBOUTI
      - DENMARK
      - DOMINICA
      - DOMINICAN_REPUBLIC
      - ALGERIA
      - ECUADOR
      - ESTONIA
      - EGYPT
      - WESTERN_SAHARA
      - ERITREA
      - SPAIN
      - ETHIOPIA
      - FINLAND
      - FIJI
      - FALKLAND_ISLANDS
      - MICRONESIA
      - FAROE_ISLANDS
      - FRANCE
      - GABON
      - GEORGIA
      - UNITED_KINGDOM
      - GRENEDA
      - FRENCH_GUIANA
      - GUERNSEY
      - GHANA
      - GIBRALTAR
      - GUINEA
      - GAMBIA
      - GREENLAND
      - GUADELOUPE
      - GREECE
      - SOUTH_GEORGIA_AND_THE_SOUTH_SANDWICH_ISLANDS
      - GUATEMALA
      - GUAM
      - GUINEA_BISSAU
      - GUYANA
      - HEARD_AND_MCDONALD_ISLANDS
      - HONDURAS
      - HONG_KONG
      - CROATIA
      - HAITI
      - HUNGARY
      - INDONESIA
      - IRELAND
      - ISRAEL
      - ISLE_OF_MAN
      - INDIA
      - BRITISH_INDIAN_OCEAN_TERRITORY
      - IRAQ
      - ICELAND
      - IRAN
      - ITALY
      - JERSEY
      - JAMAICA
      - JAPAN
      - JORDAN
      - KENYA
      - KYRGYZSTAN
      - CAMBODIA
      - KIRIBATI
      - KOREA_NORTH
      - COMOROS
      - ST_KITTS_AND_NEVIS
      - KOREA_ROC
      - KUWAIT
      - CAYMAN_ISLANDS
      - KAZAKHSTAN
      - LAOS
      - LEBANON
      - SAINT_LUCIA
      - LIECHTENSTEIN
      - SRI_LANKA
      - LIBERIA
      - LESOTHO
      - LITHUANIA
      - LUXEMBOURG
      - LATVIA
      - LIBYA
      - MONACO
      - MOLDOVA
      - MOROCCO
      - MONTENEGRO
      - SAINT_MARTIN
      - MADAGASCAR
      - MARSHALL_ISLANDS
      - MACAU
      - MACEDONIA
      - MALI
      - MYANMAR
      - MONGOLIA
      - NORTHERN_MARIANA_ISLANDS
      - MARTINIQUE
      - MAURITANIA
      - MONTSERRAT
      - MALTA
      - MAURITIUS
      - MALDIVES
      - MALAWI
      - MEXICO
      - MALAYSIA
      - MOZAMBIQUE
      - NAMIBIA
      - NEW_CALEDONIA
      - NIGER
      - NORFOLK_ISLAND
      - NIGERIA
      - NICARAGUA
      - NETHERLANDS
      - NORWAY
      - NEPAL
      - NAURU
      - NIUE
      - NEW_ZEALAND
      - OMAN
      - PANAMA
      - FRENCH_POLYNESIA
      - PERU
      - PAPUA_NEW_GUINEA
      - PHILIPPINES
      - PAKISTAN
      - POLAND
      - SAINT_PIERRE_AND_MIQUELON
      - PITCAIRN
      - PORTUGAL
      - PUERTO_RICO
      - PALESTINE
      - PALAU
      - PARAGUAY
      - QATAR
      - REUNION
      - ROMANIA
      - SERBIA
      - RUSSIA
      - RWANDA
      - SAUDI_ARABIA
      - SOLOMON_ISLANDS
      - SEYCHELLES
      - SUDAN
      - SWEDEN
      - SINGAPORE
      - SAINT_HELENA
      - SLOVENIA
      - SVALBARD_AND_JAN_MAYEN
      - SLOVAKIA
      - SIERRA_LEONE
      - SAN_MARINO
      - SENEGAL
      - SOMALIA
      - SURINAME
      - SOUTH_SUDAN
      - SAO_TOME_AND_PRINCIPE
      - EL_SALVADOR
      - SINT_MAARTEN
      - SYRIA
      - SWAZILAND
      - TURKS_AND_CAICOS_ISLANDS
      - CHAD
      - FRENCH_SOUTHERN_TERRITORIES
      - TOGO
      - TAIWAN
      - TAJIKISTAN
      - THAILAND
      - TRINIDAD_Y_TOBAGO
      - TUNISIA
      - TOKELAU
      - TIMOR_LESTE
      - TURKMENISTAN
      - TONGA
      - TURKEY
      - TANZANIA
      - TUVULU
      - UKRAINE
      - UGANDA
      - UNITED_STATES_MINOR_OUTLYING_ISLANDS
      - UNITED_STATES
      - URUGUAY
      - UZBEKISTAN
      - HOLY_SEE
      - SAINT_VINCENT_AND_THE_GRENADINES
      - VENEZUELA
      - VIRGIN_ISLANDS
      - VIRGIN_ISLANDS_BRITISH
      - VIETNAM
      - VANUATU
      - WALLIS_AND_FUTUNA
      - SAMOA
      - YEMEN
      - MAYOTTE
      - SOUTH_AFRICA
      - ZAMBIA
      - ZIMBABWE
      - UNKNOWN
      - UNDEFINED
    service-areas.AgentServiceArea:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
        address:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
        locationId:
          type: string
          format: uuid
  responses:
    common.400BadRequestResponse:
      description: Bad Request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/common.ResponseStatusException'
    common.404NotFoundResponse:
      description: Resource Not Found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/common.ResponseStatusException'
  parameters:
    common.OrganizationRequestParam:
      name: organization
      in: query
      description: Fetch a specific organization. By default, the organization associated with your JWT token will be used.
      required: false
      schema:
        type: string
    locations.SensorLocationId:
      name: locationId
      in: path
      description: Sensor Location Id
      required: true
      schema:
        type: number
    locations.DeleteSensorLocationIds:
      name: id
      in: query
      description: One or more location ids to delete
      required: true
      schema:
        type: array
        items:
          type: number
  securitySchemes:
    oauth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: /oauth2/token
          scopes: {}
