{
  "openapi": "3.0.3",
  "info": {
    "title": "7SIGNAL API",
    "description": "This is the 7SIGNAL public API for interacting with the 7SIGNAL Platform",
    "version": "2.21.1",
    "contact": {
      "email": "info@7signal.com"
    },
    "license": {
      "name": "All Rights Reserved",
      "url": "https://www.7signal.com/contact"
    }
  },
  "servers": [
    {
      "url": "https://api-v2.7signal.com",
      "description": "7SIGNAL API Gateway (production)"
    }
  ],
  "paths": {
    "/oauth2/token": {
      "post": {
        "summary": "OAuth2 Token Endpoint",
        "operationId": "oauth2-token-endpoint",
        "description": "The API requires a JWT bearer token. To fetch one, you may use this endpoint which supports the standard OAuth2 client credentials grant flow.",
        "requestBody": {
          "$ref": "#/components/requestBodies/oauth2.OAuth2ClientCredentialsRequest"
        },
        "responses": {
          "200": {
            "description": "Success. A JWT token has been granted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/oauth2.OAuth2AccessTokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "There was a [problem with the request](https://datatracker.ietf.org/doc/html/rfc6749#section-5.2).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/oauth2.OAuth2AccessTokenError"
                }
              }
            }
          }
        },
        "security": [],
        "tags": [
          "Authentication"
        ]
      }
    },
    "/access/{userId}/summary": {
      "get": {
        "operationId": "access-summary-get-a1b2",
        "tags": [
          "Access"
        ],
        "summary": "List the access summary for the given user",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/metadata.AccessSummaryResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/common.400BadRequestResponse"
          },
          "404": {
            "$ref": "#/components/responses/common.404NotFoundResponse"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/access-points/agents": {
      "get": {
        "summary": "List the Agent Access Points",
        "operationId": "agent-access-points",
        "description": "Page through all of the Agent Access Points",
        "security": [
          {
            "oauth2": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/common.OrganizationRequestParam"
          },
          {
            "name": "bssids",
            "in": "query",
            "description": "Filter by specific BSSID MAC addresses. Provide a comma-separated list of BSSID strings to return only access points with those BSSIDs.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/access-points.GetAgentAccessPointsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/common.400BadRequestResponse"
          },
          "404": {
            "$ref": "#/components/responses/common.404NotFoundResponse"
          }
        },
        "tags": [
          "AccessPoints"
        ]
      },
      "post": {
        "operationId": "PathAccessPointsAgents-post-n7p8",
        "summary": "Creates one or many Agent Access Points",
        "parameters": [
          {
            "$ref": "#/components/parameters/common.OrganizationRequestParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/access-points.PostAgentAccessPointsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/access-points.GetAgentAccessPointsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/common.400BadRequestResponse"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ],
        "tags": [
          "AccessPoints"
        ]
      }
    },
    "/access-points/agents/{accessPointId}": {
      "get": {
        "summary": "Fetch the specified Access Point",
        "operationId": "agent-access-point",
        "description": "Fetch the specified Access Point",
        "security": [
          {
            "oauth2": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/common.OrganizationRequestParam"
          },
          {
            "name": "accessPointId",
            "in": "path",
            "description": "Fetch the specific access Point referenced by its id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/access-points.GetAgentAccessPointResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/common.400BadRequestResponse"
          },
          "404": {
            "$ref": "#/components/responses/common.404NotFoundResponse"
          }
        },
        "tags": [
          "AccessPoints"
        ]
      },
      "put": {
        "operationId": "PathAccessPointsAgent-put-q9r0",
        "summary": "Replace the specified Access Point with the details in the payload",
        "parameters": [
          {
            "$ref": "#/components/parameters/common.OrganizationRequestParam"
          },
          {
            "name": "accessPointId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/access-points.AgentAccessPointRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/common.400BadRequestResponse"
          },
          "404": {
            "$ref": "#/components/responses/common.404NotFoundResponse"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ],
        "tags": [
          "AccessPoints"
        ]
      },
      "patch": {
        "operationId": "PathAccessPointsAgent-patch-s1t2",
        "summary": "Update the specified Access Point with the details in the payload, name being required",
        "parameters": [
          {
            "$ref": "#/components/parameters/common.OrganizationRequestParam"
          },
          {
            "name": "accessPointId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/access-points.AgentAccessPointRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/common.400BadRequestResponse"
          },
          "404": {
            "$ref": "#/components/responses/common.404NotFoundResponse"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ],
        "tags": [
          "AccessPoints"
        ]
      },
      "delete": {
        "operationId": "PathAccessPointsAgent-delete-u3v4",
        "summary": "Delete the Access Point specified by the UUID",
        "parameters": [
          {
            "$ref": "#/components/parameters/common.OrganizationRequestParam"
          },
          {
            "name": "accessPointId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "$ref": "#/components/responses/common.404NotFoundResponse"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ],
        "tags": [
          "AccessPoints"
        ]
      }
    },
    "/access-points/sensors": {
      "get": {
        "summary": "List the Sensor Access Points",
        "operationId": "sensor-access-points",
        "description": "Page through all of the Sensor Access Points",
        "security": [
          {
            "oauth2": []
          }
        ],
        "parameters": [
          {
            "name": "serviceAreaId",
            "in": "query",
            "description": "Filter the specific access point referenced by its service area id",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "sensorId",
            "in": "query",
            "description": "Filter the specific access point referenced by its sensor id",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "excludeDefaultServiceArea",
            "in": "query",
            "description": "Exclude the default service area from the results unless it is explicitly requested via sensorId or serviceAreaId",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "signalStrengthMin",
            "in": "query",
            "description": "Filter access points whose average signal strength is below this threshold in dBm (e.g. -70). Only applies when sensorId is also provided.",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/access-points.GetSensorAccessPointsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/common.400BadRequestResponse"
          },
          "404": {
            "$ref": "#/components/responses/common.404NotFoundResponse"
          }
        },
        "tags": [
          "AccessPoints"
        ]
      }
    },
    "/access-points/sensors/{accessPointId}": {
      "get": {
        "summary": "Fetch the specified Sensor Access Point",
        "operationId": "sensor-access-point",
        "description": "Fetch the specified Sensor Access Point",
        "security": [
          {
            "oauth2": []
          }
        ],
        "parameters": [
          {
            "name": "accessPointId",
            "in": "path",
            "description": "Fetch the specific access point referenced by its id",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/access-points.GetSensorAccessPointResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/common.400BadRequestResponse"
          },
          "404": {
            "$ref": "#/components/responses/common.404NotFoundResponse"
          }
        },
        "tags": [
          "AccessPoints"
        ]
      },
      "patch": {
        "operationId": "PathAccessPointsSensor-patch-w5x6",
        "summary": "Update the alias of the specified Access Point",
        "parameters": [
          {
            "name": "accessPointId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/access-points.SensorAccessPointPatchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK"
          },
          "400": {
            "$ref": "#/components/responses/common.400BadRequestResponse"
          },
          "404": {
            "$ref": "#/components/responses/common.404NotFoundResponse"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ],
        "tags": [
          "AccessPoints"
        ]
      },
      "delete": {
        "operationId": "PathAccessPointsSensor-delete-y7z8",
        "summary": "Unbind the specified access point from its managing sensor",
        "description": "Removes the association between the access point and its managing sensor. The access point is not deleted from the database.",
        "parameters": [
          {
            "name": "accessPointId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "$ref": "#/components/responses/common.404NotFoundResponse"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ],
        "tags": [
          "AccessPoints"
        ]
      }
    },
    "/adapter-driver-report": {
      "get": {
        "summary": "Retrieve Adapter/Driver Report",
        "operationId": "adapter-driver-report-list",
        "description": "Fetch a paginated report of adapter/driver pairs and their roaming performance, aggregated across all organizations.",
        "security": [
          {
            "oauth2": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/adapter-driver-report.SearchValueParam"
          },
          {
            "$ref": "#/components/parameters/common.SortFieldParam"
          },
          {
            "$ref": "#/components/parameters/common.SortOrderParam"
          },
          {
            "$ref": "#/components/parameters/adapter-driver-report.PageRequestParam"
          },
          {
            "$ref": "#/components/parameters/common.PerPageRequestParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/adapter-driver-report.AdapterDriverReportListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/common.400BadRequestResponse"
          },
          "404": {
            "$ref": "#/components/responses/common.404NotFoundResponse"
          }
        },
        "tags": [
          "Adapter Driver Report"
        ]
      }
    },
    "/adapter-driver-report/summary": {
      "get": {
        "summary": "Retrieve Adapter/Driver Report Summary",
        "operationId": "adapter-driver-report-summary",
        "description": "Fetch summary statistics for the adapter/driver report, aggregated across all organizations.",
        "security": [
          {
            "oauth2": []
          }
        ],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/adapter-driver-report.AdapterDriverReportSummary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/common.400BadRequestResponse"
          },
          "404": {
            "$ref": "#/components/responses/common.404NotFoundResponse"
          }
        },
        "tags": [
          "Adapter Driver Report"
        ]
      }
    },
    "/adapter-driver-report/org": {
      "get": {
        "summary": "Retrieve Adapter/Driver Report by Organization",
        "operationId": "adapter-driver-report-org-list",
        "description": "Fetch a paginated report of adapter/driver pairs and their roaming performance for a single organization.",
        "security": [
          {
            "oauth2": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/common.OrganizationRequestParam"
          },
          {
            "$ref": "#/components/parameters/adapter-driver-report.SearchValueParam"
          },
          {
            "$ref": "#/components/parameters/common.SortFieldParam"
          },
          {
            "$ref": "#/components/parameters/common.SortOrderParam"
          },
          {
            "$ref": "#/components/parameters/adapter-driver-report.PageRequestParam"
          },
          {
            "$ref": "#/components/parameters/common.PerPageRequestParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/adapter-driver-report.AdapterDriverReportListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/common.400BadRequestResponse"
          },
          "404": {
            "$ref": "#/components/responses/common.404NotFoundResponse"
          }
        },
        "tags": [
          "Adapter Driver Report"
        ]
      }
    },
    "/adapter-driver-report/org/summary": {
      "get": {
        "summary": "Retrieve Adapter/Driver Report Summary by Organization",
        "operationId": "adapter-driver-report-org-summary",
        "description": "Fetch summary statistics for the adapter/driver report for a single organization.",
        "security": [
          {
            "oauth2": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/common.OrganizationRequestParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/adapter-driver-report.AdapterDriverReportSummary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/common.400BadRequestResponse"
          },
          "404": {
            "$ref": "#/components/responses/common.404NotFoundResponse"
          }
        },
        "tags": [
          "Adapter Driver Report"
        ]
      }
    },
    "/apikeys": {
      "get": {
        "operationId": "apikeys-get-e5f6",
        "tags": [
          "API Keys"
        ],
        "summary": "List all accessible ApiKeys, optionally filtered by permissions, ids, createdBys and organizationsIds",
        "parameters": [
          {
            "name": "permissions",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            }
          },
          {
            "name": "ids",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              },
              "default": []
            }
          },
          {
            "name": "createdBys",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            }
          },
          {
            "name": "organizationIds",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              },
              "default": []
            }
          },
          {
            "$ref": "#/components/parameters/metadata.PageRequestParam"
          },
          {
            "$ref": "#/components/parameters/common.PerPageRequestParam"
          },
          {
            "$ref": "#/components/parameters/common.SortOrderParam"
          },
          {
            "$ref": "#/components/parameters/common.SortFieldParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/metadata.PageModelApiKey"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/common.400BadRequestResponse"
          },
          "404": {
            "$ref": "#/components/responses/common.404NotFoundResponse"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      },
      "post": {
        "operationId": "apikeys-post-g7h8",
        "tags": [
          "API Keys"
        ],
        "summary": "Create an ApiKey and make it available for usage",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/metadata.ApiKeyRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/metadata.ApiKeyResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/common.400BadRequestResponse"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/apikeys/{apikeyId}": {
      "get": {
        "operationId": "apikeys-with-id-get-i9j0",
        "tags": [
          "API Keys"
        ],
        "summary": "List the specific ApiKey identified by its UUID, and its associated Permissions",
        "parameters": [
          {
            "name": "apikeyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/metadata.ApiKeyResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/common.400BadRequestResponse"
          },
          "404": {
            "$ref": "#/components/responses/common.404NotFoundResponse"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      },
      "delete": {
        "operationId": "apikeys-with-id-delete-k1l2",
        "tags": [
          "API Keys"
        ],
        "summary": "Delete the ApiKey specified by the UUID",
        "parameters": [
          {
            "name": "apikeyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "404": {
            "$ref": "#/components/responses/common.404NotFoundResponse"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/audit/agents": {
      "get": {
        "summary": "Agent Audit Entries",
        "operationId": "agent-audits",
        "description": "Fetch Agent Audit record entries",
        "security": [
          {
            "oauth2": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/common.OrganizationRequestParam"
          },
          {
            "$ref": "#/components/parameters/audits.StartTimeRangeParam"
          },
          {
            "$ref": "#/components/parameters/audits.EndTimeRangeParam"
          },
          {
            "$ref": "#/components/parameters/audits.ActorParam"
          },
          {
            "$ref": "#/components/parameters/audits.ActionParam"
          },
          {
            "$ref": "#/components/parameters/audits.SourceParam"
          },
          {
            "$ref": "#/components/parameters/audits.InitiatedParam"
          },
          {
            "$ref": "#/components/parameters/common.SortFieldParam"
          },
          {
            "$ref": "#/components/parameters/common.SortOrderParam"
          },
          {
            "$ref": "#/components/parameters/common.PageRequestParam"
          },
          {
            "$ref": "#/components/parameters/common.PerPageRequestParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/audits.AuditsAgentsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/common.400BadRequestResponse"
          },
          "404": {
            "$ref": "#/components/responses/common.404NotFoundResponse"
          },
          "403": {
            "$ref": "#/components/responses/common.403Forbidden"
          }
        },
        "tags": [
          "Audit"
        ]
      }
    },
    "/change-events/sensors": {
      "get": {
        "summary": "List the change events for the specified element",
        "operationId": "sensor-change-events",
        "description": "Retrieves change events for the specified sensor or network element. Valid combinations include: Access Point only, Eye only, Access Point with Eye, Network only, or Network with Service Area",
        "security": [
          {
            "oauth2": []
          }
        ],
        "parameters": [
          {
            "name": "sensorId",
            "in": "query",
            "description": "Filter the change events for element referenced by its sensor id",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "accessPointId",
            "in": "query",
            "description": "Filter the change events for element referenced by its access point",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "networkId",
            "in": "query",
            "description": "Filter the change events for element referenced by its network",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "serviceAreaId",
            "in": "query",
            "description": "Filter the change events for element referenced by its networkId and serviceAreaId",
            "required": false,
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "The time in milliseconds from the epoch from which change events are fetched (the lower bound). Defaults to the previous 24 hours.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "The time in milliseconds from the epoch up to which change events are fetched (the upper bound). Defaults to the present now.",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/change-events.GetChangeEventsSensorResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/common.400BadRequestResponse"
          },
          "404": {
            "$ref": "#/components/responses/common.404NotFoundResponse"
          }
        },
        "tags": [
          "ChangeEvents"
        ]
      }
    },
    "/clients/sensors": {
      "get": {
        "summary": "List the Sensor Clients",
        "operationId": "sensor-clients",
        "description": "Page through all of the Sensor Clients",
        "security": [
          {
            "oauth2": [
              "read"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/clients.ToRequestParam"
          },
          {
            "$ref": "#/components/parameters/clients.FromRequestParam"
          },
          {
            "$ref": "#/components/parameters/clients.MacRequestParam"
          },
          {
            "$ref": "#/components/parameters/clients.VendorRequestParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/clients.GetSensorClientsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/common.400BadRequestResponse"
          },
          "404": {
            "$ref": "#/components/responses/common.404NotFoundResponse"
          }
        },
        "tags": [
          "Clients"
        ]
      }
    },
    "/default-configurations/sensors": {
      "get": {
        "summary": "List the Sensor Default Configurations",
        "operationId": "default-configurations-sensors",
        "description": "Lists the configuration bundles that can be referenced by a Service Area or Organization's defaultConfigurationId",
        "security": [
          {
            "oauth2": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/default-configurations.GetSensorDefaultConfigurationsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/common.400BadRequestResponse"
          }
        },
        "tags": [
          "DefaultConfigurations"
        ]
      }
    },
    "/default-configurations/sensors/{configurationId}": {
      "get": {
        "summary": "Fetch the specified Sensor Default Configuration",
        "operationId": "default-configuration-sensor",
        "description": "Fetch details about a single default configuration",
        "security": [
          {
            "oauth2": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/default-configurations.SensorDefaultConfigurationId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/default-configurations.GetSensorDefaultConfigurationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/common.400BadRequestResponse"
          },
          "404": {
            "$ref": "#/components/responses/common.404NotFoundResponse"
          }
        },
        "tags": [
          "DefaultConfigurations"
        ]
      }
    },
    "/eyeris/analysis/stream": {
      "post": {
        "tags": [
          "Eyeris"
        ],
        "summary": "Request Eyeris Analysis with Streaming Response",
        "description": "Use this endpoint to initiate an analysis using Eyeris with a streaming response. This endpoint will remain connected and stream the response from Eyeris back to the client until it is finished. The response uses the [Server Sent Events](https://developer.mozilla.org/en-US/docs/Web/API/Server-sent_events/Using_server-sent_events) format.",
        "operationId": "eyeris-stream-qp5E",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/eyeris.EyerisCreateStreamRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "OK",
            "headers": {
              "Eyeris-Request-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Request ID"
              },
              "Eyeris-Request-Queue-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Request Queue ID"
              },
              "Eyeris-Response-Id": {
                "schema": {
                  "type": "string"
                },
                "description": "Response ID"
              }
            },
            "content": {
              "text/event-stream": {
                "schema": {
                  "$ref": "#/components/schemas/eyeris.EyerisSseEmitter"
                }
              }
            }
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/eyeris/agents/client-analysis": {
      "post": {
        "operationId": "eyeris-client-analysis-post-y7z8",
        "tags": [
          "Eyeris"
        ],
        "summary": "Request Eyeris Analysis",
        "description": "Use this endpoint to initiate an analysis using Eyeris. This endpoint will respond as soon as the request for analysis has been received by Eyeris. Analysis can take a little time though, so you need to poll the `GET /eyeris/agents/client-analysis/{requestId}` endpoint using the Request ID received with the response from the POST request. The response from the GET request will include the Eyeris analysis when it is ready. For more information, refer to [Request Eyeris Analysis Results](#/Eyeris/get_eyeris_agents_client_analysis__requestId_).",
        "parameters": [
          {
            "$ref": "#/components/parameters/common.OrganizationRequestParam"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/eyeris.EyerisAnalysisRequest"
              },
              "examples": {
                "roaming-analysis": {
                  "summary": "Eyeris Roaming Analysis",
                  "value": {
                    "agentId": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                    "type": "ROAMING",
                    "from": "1740106800000",
                    "to": "1740114000000"
                  }
                },
                "congestion-analysis": {
                  "summary": "Eyeris Congestion Analysis",
                  "value": {
                    "agentId": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                    "type": "CONGESTION",
                    "from": "1740106800000",
                    "to": "1740114000000"
                  }
                },
                "coverage-analysis": {
                  "summary": "Eyeris Coverage Analysis",
                  "value": {
                    "agentId": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                    "type": "COVERAGE",
                    "from": "1740106800000",
                    "to": "1740114000000"
                  }
                },
                "interference-analysis": {
                  "summary": "Eyeris Interference Analysis",
                  "value": {
                    "agentId": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                    "type": "INTERFERENCE",
                    "from": "1740106800000",
                    "to": "1740114000000"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/eyeris.EyerisAnalysisResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/common.400BadRequestResponse"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/eyeris/agents/client-analysis/{requestId}": {
      "get": {
        "operationId": "eyeris-client-analysis-with-id-get-a9b0",
        "tags": [
          "Eyeris"
        ],
        "summary": "Request Eyeris Analysis Results",
        "description": "Poll this endpoint to get the result of the analysis using the `requestId` obtained from the `POST /eyeris/agents/start-analysis` endpoint. For more information, refer to [Request Eyeris Analysis](#/Eyeris/post_eyeris_agents_client_analysis).",
        "security": [
          {
            "oauth2": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/common.OrganizationRequestParam"
          },
          {
            "name": "requestId",
            "in": "path",
            "description": "Fetch the specific analysis result referenced by its id.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "requestQueueId",
            "in": "query",
            "description": "ID of the request in the internal queue supplied by the analysis request.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "responseId",
            "in": "query",
            "description": "Sometimes supplied by the analysis request. This is available when the response has been cached and the ID is immediately available. When clients supply this value, the server can find the response more directly.",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success. The response from the LLM. This response may include formatted date strings which will be in ISO-8601 format and UTC as the timezone, for example, 2007-03-01T13:00:00Z.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/eyeris.EyerisAnalysisRequestResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/common.400BadRequestResponse"
          },
          "404": {
            "$ref": "#/components/responses/common.404NotFoundResponse"
          }
        }
      }
    },
    "/eyes": {
      "get": {
        "summary": "Summary of Eyes",
        "operationId": "eyes-summary",
        "description": "Fetch a summary of all registered Eyes",
        "security": [
          {
            "oauth2": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/eyes.OrganizationIdRequestParam"
          },
          {
            "$ref": "#/components/parameters/common.OrganizationRequestParam"
          },
          {
            "$ref": "#/components/parameters/eyes.EyesSummaryRequestParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/eyes.SummaryResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/common.400BadRequestResponse"
          },
          "404": {
            "$ref": "#/components/responses/common.404NotFoundResponse"
          }
        },
        "tags": [
          "Eyes"
        ]
      }
    },
    "/eyes/agents": {
      "get": {
        "summary": "List the Agent Eyes available",
        "operationId": "eyes-agents",
        "description": "Page through all of the registered Eyes. **Important:** When sorting by score and paging through results, you must retain a consistent scoreSortStart and scoreSortEnd time range from one call to the next, or results from paging will be unstable.",
        "security": [
          {
            "oauth2": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/common.OrganizationRequestParam"
          },
          {
            "$ref": "#/components/parameters/eyes.LicenseConstraintRequestParam"
          },
          {
            "$ref": "#/components/parameters/eyes.ClientNameRequestParam"
          },
          {
            "$ref": "#/components/parameters/eyes.NicknameRequestParam"
          },
          {
            "$ref": "#/components/parameters/eyes.PlatformRequestParam"
          },
          {
            "$ref": "#/components/parameters/eyes.LastSSIDRequestParam"
          },
          {
            "$ref": "#/components/parameters/eyes.LastLocationRequestParam"
          },
          {
            "name": "lastLocationId",
            "in": "query",
            "description": "Filter on the last location ID seen",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "scoreSortStart",
            "in": "query",
            "description": "Start time for score-based sorting (epoch milliseconds) - required when sorting by 'score'",
            "schema": {
              "type": "number"
            }
          },
          {
            "name": "scoreSortEnd",
            "in": "query",
            "description": "End time for score-based sorting (epoch milliseconds) - required when sorting by 'score'",
            "schema": {
              "type": "number"
            }
          },
          {
            "$ref": "#/components/parameters/common.PageRequestParam"
          },
          {
            "$ref": "#/components/parameters/common.PerPageRequestParam"
          },
          {
            "$ref": "#/components/parameters/common.SortOrderParam"
          },
          {
            "$ref": "#/components/parameters/common.SortFieldParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/eyes.GetEyesAgentsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/common.400BadRequestResponse"
          },
          "404": {
            "$ref": "#/components/responses/common.404NotFoundResponse"
          }
        },
        "tags": [
          "Eyes"
        ]
      },
      "patch": {
        "summary": "Patch multiple Eye Agents",
        "operationId": "patch-eyes-agents",
        "description": "Patch the specified Eye Agents",
        "security": [
          {
            "oauth2": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/common.OrganizationRequestParam"
          }
        ],
        "requestBody": {
          "description": "A list of the agents and the data to update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/eyes.PatchBatchEyesAgentRequest"
              },
              "examples": {
                "license-multiple": {
                  "summary": "License multiple devices",
                  "value": [
                    {
                      "agentId": "ebd0ffed-66ad-4a7b-a9d8-02245b3ede2c",
                      "isLicensed": true
                    },
                    {
                      "agentId": "99b76dd0-4d26-40c7-b292-a330ce19f188",
                      "isLicensed": true
                    }
                  ]
                },
                "unlicense-multiple": {
                  "summary": "Unlicense multiple device",
                  "value": [
                    {
                      "agentId": "ebd0ffed-66ad-4a7b-a9d8-02245b3ede2c",
                      "isLicensed": false
                    },
                    {
                      "agentId": "99b76dd0-4d26-40c7-b292-a330ce19f188",
                      "isLicensed": false
                    }
                  ]
                },
                "set-nicknames": {
                  "summary": "Update multiple nicknames",
                  "value": [
                    {
                      "agentId": "ebd0ffed-66ad-4a7b-a9d8-02245b3ede2c",
                      "nickname": "Agent 007"
                    },
                    {
                      "agentId": "99b76dd0-4d26-40c7-b292-a330ce19f188",
                      "nickname": "Agent 002"
                    }
                  ]
                },
                "delete-agents": {
                  "summary": "Delete multiple agents",
                  "value": [
                    {
                      "agentId": "ebd0ffed-66ad-4a7b-a9d8-02245b3ede2c",
                      "autoUninstall": true,
                      "pendingDelete": true
                    },
                    {
                      "agentId": "99b76dd0-4d26-40c7-b292-a330ce19f188",
                      "autoUninstall": false,
                      "pendingDelete": true
                    }
                  ]
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/eyes.PatchEyesAgentResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/common.400BadRequestResponse"
          },
          "404": {
            "$ref": "#/components/responses/common.404NotFoundResponse"
          }
        },
        "tags": [
          "Eyes"
        ]
      }
    },
    "/eyes/agents/search": {
      "get": {
        "summary": "Search for Agent Eyes",
        "operationId": "eyes-agents-search",
        "description": "Search for registered Agent Eyes",
        "security": [
          {
            "oauth2": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "One or more search terms. This will execute a fuzzy search with the given terms and can partial or full agent names, nicknames, MAC addresses, IDs, local IPs, and/or external IPs.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "description": "The maximum number of search results to return.",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/eyes.GetEyesAgentsSearchResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/common.400BadRequestResponse"
          },
          "404": {
            "$ref": "#/components/responses/common.404NotFoundResponse"
          }
        },
        "tags": [
          "Eyes"
        ]
      }
    },
    "/eyes/agents/{agentId}": {
      "get": {
        "summary": "Fetch the specified Eyes Agent",
        "operationId": "eyes-agent",
        "description": "Fetch the registered Eyes Agent",
        "security": [
          {
            "oauth2": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/common.OrganizationRequestParam"
          },
          {
            "$ref": "#/components/parameters/eyes.RequiredAgentId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/eyes.GetEyesAgentResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/common.400BadRequestResponse"
          },
          "404": {
            "$ref": "#/components/responses/common.404NotFoundResponse"
          }
        },
        "tags": [
          "Eyes"
        ]
      },
      "patch": {
        "summary": "Patch the specified Eyes Agent",
        "operationId": "patch-eyes-agent",
        "description": "Patch the specified Eyes Agent",
        "security": [
          {
            "oauth2": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/common.OrganizationRequestParam"
          },
          {
            "$ref": "#/components/parameters/eyes.RequiredAgentId"
          }
        ],
        "requestBody": {
          "description": "Agent fields to update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/eyes.PatchEyesAgentRequest"
              },
              "examples": {
                "license": {
                  "summary": "License a device",
                  "value": {
                    "isLicensed": true
                  }
                },
                "unlicense": {
                  "summary": "Unlicense a device",
                  "value": {
                    "isLicensed": false
                  }
                },
                "set-nickname": {
                  "summary": "Set a nickname",
                  "value": {
                    "nickname": "Agent 007"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/eyes.PatchEyesAgentResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/common.400BadRequestResponse"
          },
          "404": {
            "$ref": "#/components/responses/common.404NotFoundResponse"
          }
        },
        "tags": [
          "Eyes"
        ]
      },
      "delete": {
        "summary": "Delete an Eyes Agent",
        "operationId": "delete-eyes-agent",
        "description": "Delete the specified Eyes Agent",
        "security": [
          {
            "oauth2": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/common.OrganizationRequestParam"
          },
          {
            "$ref": "#/components/parameters/eyes.DeleteAgentId"
          },
          {
            "$ref": "#/components/parameters/eyes.AutoUninstall"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted. Client to be deleted in the future."
          },
          "400": {
            "$ref": "#/components/responses/common.400BadRequestResponse"
          },
          "404": {
            "$ref": "#/components/responses/common.404NotFoundResponse"
          }
        },
        "tags": [
          "Eyes"
        ]
      }
    },
    "/eyes/sensors": {
      "get": {
        "summary": "List the Sensor Eyes available",
        "operationId": "eyes-sensors",
        "description": "Page through all of the registered Eyes",
        "security": [
          {
            "oauth2": []
          }
        ],
        "parameters": [
          {
            "name": "excludeDefaultServiceArea",
            "in": "query",
            "description": "Exclude the default service area from the results",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/eyes.GetEyesSensorsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/common.400BadRequestResponse"
          },
          "404": {
            "$ref": "#/components/responses/common.404NotFoundResponse"
          }
        },
        "tags": [
          "Eyes"
        ]
      }
    },
    "/eyes/sensors/{sensorId}": {
      "get": {
        "summary": "Fetch the specified Eyes Sensor",
        "operationId": "eyes-sensor",
        "description": "Fetch the registered Eyes Sensor",
        "security": [
          {
            "oauth2": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/eyes.RequiredSensorId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/eyes.GetEyesSensorResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/common.400BadRequestResponse"
          },
          "404": {
            "$ref": "#/components/responses/common.404NotFoundResponse"
          }
        },
        "tags": [
          "Eyes"
        ]
      },
      "patch": {
        "summary": "Patch the specified Eyes Sensor",
        "operationId": "patch-eyes-sensor",
        "description": "Patch the specified Eyes Sensor",
        "security": [
          {
            "oauth2": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/eyes.RequiredSensorId"
          }
        ],
        "requestBody": {
          "description": "Sensor fields to update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/eyes.PatchEyesSensorRequest"
              },
              "examples": {
                "normal-mode": {
                  "summary": "Led status to normal mode",
                  "value": {
                    "ledStatus": "NORMAL_MODE"
                  }
                },
                "blinking": {
                  "summary": "Led status to blinking",
                  "value": {
                    "ledStatus": "BLINKING"
                  }
                },
                "off": {
                  "summary": "Led status to off",
                  "value": {
                    "ledStatus": "OFF"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/eyes.GetEyesSensorResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/common.400BadRequestResponse"
          },
          "404": {
            "$ref": "#/components/responses/common.404NotFoundResponse"
          }
        },
        "tags": [
          "Eyes"
        ]
      }
    },
    "/eyes/sensors/{sensorId}/automated-testing": {
      "get": {
        "summary": "Get the status of automated test on Sensor",
        "operationId": "get-eyes-sensor-automated-testing",
        "description": "Get the status of automated test on Sensor",
        "security": [
          {
            "oauth2": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/eyes.RequiredSensorId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/eyes.EyesSensorAutomatedTestStatus"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/common.400BadRequestResponse"
          },
          "404": {
            "$ref": "#/components/responses/common.404NotFoundResponse"
          }
        },
        "tags": [
          "Eyes"
        ]
      },
      "post": {
        "summary": "Start or stopping automated test on Sensor",
        "operationId": "post-eyes-sensor-automated-testing",
        "description": "Start or stopping automated test on Sensor",
        "security": [
          {
            "oauth2": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/eyes.RequiredSensorId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/eyes.EyesSensorAutomatedTestRequest"
              },
              "examples": {
                "START_AUTOMATED_TESTING": {
                  "summary": "Start automated testing",
                  "value": {
                    "action": "START_AUTOMATED_TESTING"
                  }
                },
                "STOP_AUTOMATED_TESTING": {
                  "summary": "Stop automated testing",
                  "value": {
                    "action": "STOP_AUTOMATED_TESTING"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/eyes.EyesSensorAutomatedTestResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/common.400BadRequestResponse"
          },
          "404": {
            "$ref": "#/components/responses/common.404NotFoundResponse"
          }
        },
        "tags": [
          "Eyes"
        ]
      }
    },
    "/eyes/sensors/{sensorId}/packet-captures": {
      "get": {
        "summary": "List packet capture tests for sensor",
        "operationId": "get-eyes-sensor-pcaps",
        "description": "Retrieve a paginated list of packet capture and access point traffic test pcaps for a sensor",
        "security": [
          {
            "oauth2": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/eyes.RequiredSensorId"
          },
          {
            "$ref": "#/components/parameters/eyes.PcapChannelRequestParam"
          },
          {
            "$ref": "#/components/parameters/eyes.PcapApIdRequestParam"
          },
          {
            "$ref": "#/components/parameters/eyes.PcapBandRequestParam"
          },
          {
            "$ref": "#/components/parameters/eyes.PcapStartRequestParam"
          },
          {
            "$ref": "#/components/parameters/eyes.PcapEndRequestParam"
          },
          {
            "$ref": "#/components/parameters/eyes.PcapPageRequestParam"
          },
          {
            "$ref": "#/components/parameters/eyes.PcapSizeRequestParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/eyes.PacketCaptureListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/common.400BadRequestResponse"
          },
          "404": {
            "$ref": "#/components/responses/common.404NotFoundResponse"
          }
        },
        "tags": [
          "Eyes"
        ]
      }
    },
    "/eyes/sensors/{sensorId}/packet-captures/{testKey}/download": {
      "get": {
        "summary": "Download packet capture file",
        "operationId": "get-eyes-sensor-pcap-download",
        "description": "Downloads the pcap file for the specified sensor and test key",
        "security": [
          {
            "oauth2": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/eyes.RequiredSensorId"
          },
          {
            "$ref": "#/components/parameters/eyes.RequiredTestKey"
          }
        ],
        "responses": {
          "200": {
            "description": "pcap file returned",
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "application/vnd.tcpdump.pcap": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/common.400BadRequestResponse"
          },
          "404": {
            "$ref": "#/components/responses/common.404NotFoundResponse"
          },
          "403": {
            "$ref": "#/components/responses/common.403Forbidden"
          }
        },
        "tags": [
          "Eyes"
        ]
      }
    },
    "/eyes/sensors/packet-captures": {
      "get": {
        "summary": "List packet capture tests across all sensors",
        "operationId": "get-eyes-packet-captures-global",
        "description": "Retrieve a paginated, cross-sensor list of packet capture and access point traffic test pcaps. Omitting sensorId returns results across all sensors; providing it scopes to one sensor.",
        "security": [
          {
            "oauth2": []
          }
        ],
        "parameters": [
          {
            "name": "sensorId",
            "in": "query",
            "required": false,
            "description": "Scope results to a single sensor. Omit for cross-sensor results.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "$ref": "#/components/parameters/eyes.PcapChannelRequestParam"
          },
          {
            "$ref": "#/components/parameters/eyes.PcapApIdRequestParam"
          },
          {
            "$ref": "#/components/parameters/eyes.PcapBandRequestParam"
          },
          {
            "$ref": "#/components/parameters/eyes.PcapStartRequestParam"
          },
          {
            "$ref": "#/components/parameters/eyes.PcapEndRequestParam"
          },
          {
            "name": "testType",
            "in": "query",
            "required": false,
            "description": "Filter by test type",
            "schema": {
              "type": "string",
              "enum": [
                "PacketCapture",
                "AccessPointTraffic"
              ]
            }
          },
          {
            "name": "searchValue",
            "in": "query",
            "required": false,
            "description": "Free-text search across sensor name, AP name, ESSID, and BSSID",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/eyes.PcapPageRequestParam"
          },
          {
            "$ref": "#/components/parameters/eyes.PcapSizeRequestParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/eyes.PacketCaptureListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/common.400BadRequestResponse"
          },
          "404": {
            "$ref": "#/components/responses/common.404NotFoundResponse"
          }
        },
        "tags": [
          "Eyes"
        ]
      }
    },
    "/eyes/sensors/registration": {
      "post": {
        "summary": "Register a new Eye Sensor",
        "operationId": "register-eyes-sensor",
        "description": "Register a new Eye Sensor",
        "security": [
          {
            "oauth2": []
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/eyes.RegistrationRequestBody"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/eyes.RegistrationResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/common.400BadRequestResponse"
          }
        },
        "tags": [
          "Eyes"
        ]
      }
    },
    "/groups": {
      "get": {
        "operationId": "groups-get-m3n4",
        "tags": [
          "Groups"
        ],
        "summary": "List all accessible Groups",
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              },
              "default": []
            }
          },
          {
            "name": "keys",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              },
              "default": []
            }
          },
          {
            "name": "organizationIds",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              },
              "default": []
            }
          },
          {
            "name": "instanceIds",
            "in": "query",
            "required": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              },
              "default": []
            }
          },
          {
            "$ref": "#/components/parameters/metadata.PageRequestParam"
          },
          {
            "$ref": "#/components/parameters/common.PerPageRequestParam"
          },
          {
            "$ref": "#/components/parameters/common.SortOrderParam"
          },
          {
            "$ref": "#/components/parameters/common.SortFieldParam"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/metadata.PageModelGroup"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/common.400BadRequestResponse"
          },
          "404": {
            "$ref": "#/components/responses/common.404NotFoundResponse"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/groups/{groupId}": {
      "get": {
        "operationId": "groups-with-id-get-o5p6",
        "tags": [
          "Groups"
        ],
        "summary": "Get a specific Group by UUID",
        "parameters": [
          {
            "name": "groupId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/metadata.Group"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/common.400BadRequestResponse"
          },
          "404": {
            "$ref": "#/components/responses/common.404NotFoundResponse"
          }
        },
        "security": [
          {
            "oauth2": []
          }
        ]
      }
    },
    "/impact/agents": {
      "get": {
        "summary": "Retrieve Agent Impact",
        "operationId": "impact-agents",
        "description": "Retrieve per-agent impact metrics within a time range.",
        "security": [
          {
            "oauth2": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/common.OrganizationRequestParam"
          },
          {
            "$ref": "#/components/parameters/impact.FromRequestParam"
          },
          {
            "$ref": "#/components/parameters/impact.ToRequestParam"
          },
          {
            "$ref": "#/components/parameters/common.PageRequestParam"
          },
          {
            "$ref": "#/components/parameters/common.PerPageRequestParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/impact.GetAgentImpactResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/common.400BadRequestResponse"
          },
          "404": {
            "$ref": "#/components/responses/common.404NotFoundResponse"
          }
        },
        "tags": [
          "Impact"
        ]
      }
    },
    "/impact/agents/by-status": {
      "get": {
        "summary": "Retrieve Agent Impact by Status",
        "operationId": "impact-agents-by-status",
        "description": "Retrieve an aggregated summary of agent impact metrics grouped by impacted-minutes status.",
        "security": [
          {
            "oauth2": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/common.OrganizationRequestParam"
          },
          {
            "$ref": "#/components/parameters/impact.FromRequestParam"
          },
          {
            "$ref": "#/components/parameters/impact.ToRequestParam"
          },
          {
            "$ref": "#/components/parameters/impact.MinImpactedMinutesParam"
          },
          {
            "$ref": "#/components/parameters/impact.MaxImpactedMinutesParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/impact.AgentSummary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/common.400BadRequestResponse"
          },
          "404": {
            "$ref": "#/components/responses/common.404NotFoundResponse"
          }
        },
        "tags": [
          "Impact"
        ]
      }
    },
    "/impact/agents/summary": {
      "get": {
        "summary": "Retrieve Agent Impact Summary",
        "operationId": "impact-agents-summary",
        "description": "Retrieve a summary of agent impact metrics within a time range.",
        "security": [
          {
            "oauth2": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/common.OrganizationRequestParam"
          },
          {
            "$ref": "#/components/parameters/impact.FromRequestParam"
          },
          {
            "$ref": "#/components/parameters/impact.ToRequestParam"
          },
          {
            "$ref": "#/components/parameters/common.PageRequestParam"
          },
          {
            "$ref": "#/components/parameters/common.PerPageRequestParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/impact.GetAgentSummaryResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/common.400BadRequestResponse"
          },
          "404": {
            "$ref": "#/components/responses/common.404NotFoundResponse"
          }
        },
        "tags": [
          "Impact"
        ]
      }
    },
    "/impact/agents/time-series": {
      "get": {
        "summary": "Retrieve Agent Impact Time Series",
        "operationId": "impact-agents-time-series",
        "description": "Retrieve a time series of agent impact metrics with configurable granularity.",
        "security": [
          {
            "oauth2": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/common.OrganizationRequestParam"
          },
          {
            "$ref": "#/components/parameters/impact.FromRequestParam"
          },
          {
            "$ref": "#/components/parameters/impact.ToRequestParam"
          },
          {
            "$ref": "#/components/parameters/impact.TimezoneParam"
          },
          {
            "$ref": "#/components/parameters/impact.GranularityParam"
          },
          {
            "$ref": "#/components/parameters/common.PageRequestParam"
          },
          {
            "$ref": "#/components/parameters/common.PerPageRequestParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/impact.GetAgentTimeSeriesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/common.400BadRequestResponse"
          },
          "404": {
            "$ref": "#/components/responses/common.404NotFoundResponse"
          }
        },
        "tags": [
          "Impact"
        ]
      }
    },
    "/impact/locations": {
      "get": {
        "summary": "Retrieve Location Impact",
        "operationId": "impact-locations",
        "description": "Retrieve per-location impact metrics within a time range.",
        "security": [
          {
            "oauth2": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/common.OrganizationRequestParam"
          },
          {
            "$ref": "#/components/parameters/impact.FromRequestParam"
          },
          {
            "$ref": "#/components/parameters/impact.ToRequestParam"
          },
          {
            "$ref": "#/components/parameters/common.PageRequestParam"
          },
          {
            "$ref": "#/components/parameters/common.PerPageRequestParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/impact.GetLocationImpactResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/common.400BadRequestResponse"
          },
          "404": {
            "$ref": "#/components/responses/common.404NotFoundResponse"
          }
        },
        "tags": [
          "Impact"
        ]
      }
    },
    "/incidents/agents": {
      "get": {
        "summary": "List the Agent Incidents",
        "operationId": "agent-incidents",
        "description": "Page through all of the Agent Incidents for the given time period",
        "security": [
          {
            "oauth2": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/common.OrganizationRequestParam"
          },
          {
            "$ref": "#/components/parameters/incidents.ToRequestParam"
          },
          {
            "$ref": "#/components/parameters/incidents.FromRequestParam"
          },
          {
            "name": "location_id",
            "in": "query",
            "description": "location id",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/common.SortOrderParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/incidents.GetIncidentsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/common.400BadRequestResponse"
          },
          "404": {
            "$ref": "#/components/responses/common.404NotFoundResponse"
          }
        },
        "tags": [
          "Incidents"
        ]
      }
    },
    "/incidents/agents/{incidentId}": {
      "get": {
        "summary": "Fetch the specified Agent Incident",
        "operationId": "agent-incident",
        "description": "Fetch the specified Agent Incident",
        "security": [
          {
            "oauth2": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/common.OrganizationRequestParam"
          },
          {
            "name": "incidentId",
            "in": "path",
            "description": "Fetch the specific incident referenced by its id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/incidents.GetIncidentResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/common.400BadRequestResponse"
          },
          "404": {
            "$ref": "#/components/responses/common.404NotFoundResponse"
          }
        },
        "tags": [
          "Incidents"
        ]
      }
    },
    "/alerting/alert-rules": {
      "get": {
        "summary": "List alert rules",
        "operationId": "list-alert-rules",
        "description": "Page through the alert rules for an organization, optionally filtering by metric, enabled state, and name",
        "security": [
          {
            "oauth2": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/common.OrganizationRequestParam"
          },
          {
            "$ref": "#/components/parameters/alert-rules.MetricFilterParam"
          },
          {
            "$ref": "#/components/parameters/alert-rules.EnabledFilterParam"
          },
          {
            "$ref": "#/components/parameters/alert-rules.NameFilterParam"
          },
          {
            "$ref": "#/components/parameters/common.PageRequestParam"
          },
          {
            "$ref": "#/components/parameters/common.PerPageRequestParam"
          },
          {
            "$ref": "#/components/parameters/common.SortFieldParam"
          },
          {
            "$ref": "#/components/parameters/common.SortOrderParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/alert-rules.GetAlertRulesResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/common.400BadRequestResponse"
          },
          "403": {
            "$ref": "#/components/responses/common.403Forbidden"
          }
        },
        "tags": [
          "Alert Rules"
        ]
      },
      "post": {
        "summary": "Create an alert rule",
        "operationId": "create-alert-rule",
        "description": "Create a new alert rule for an organization",
        "security": [
          {
            "oauth2": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/common.OrganizationRequestParam"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/alert-rules.AlertRuleRequest"
              },
              "examples": {
                "minimal": {
                  "summary": "Minimal \u2014 required fields only",
                  "value": {
                    "metric": "client_health_score",
                    "dimensionSet": [
                      "network",
                      "band"
                    ],
                    "aggregationFunction": "avg",
                    "thresholdValue": 70.0,
                    "thresholdOperator": "<"
                  }
                },
                "full": {
                  "summary": "Full \u2014 with overrides and notifications",
                  "value": {
                    "name": "Low client health on guest network",
                    "metric": "client_health_score",
                    "dimensionSet": [
                      "network",
                      "band"
                    ],
                    "aggregationFunction": "avg",
                    "thresholdValue": 70.0,
                    "thresholdOperator": "<",
                    "pendingPeriodSeconds": 600,
                    "missingDataPolicy": "ignore",
                    "enabled": true,
                    "notificationConfig": {
                      "deliveries": [
                        {
                          "kind": "email",
                          "address": "neteng@example.com"
                        },
                        {
                          "kind": "servicenow",
                          "mdsConfigId": "abc-123",
                          "organizationName": "globalcorp"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/alert-rules.AlertRuleResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/common.400BadRequestResponse"
          },
          "403": {
            "$ref": "#/components/responses/common.403Forbidden"
          }
        },
        "tags": [
          "Alert Rules"
        ]
      }
    },
    "/alerting/alert-rules/summary": {
      "get": {
        "summary": "Get an alert rules summary",
        "operationId": "alert-rules-summary",
        "description": "Fetch aggregate counts of the alert rules for an organization",
        "security": [
          {
            "oauth2": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/common.OrganizationRequestParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/alert-rules.AlertRulesSummary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/common.400BadRequestResponse"
          },
          "403": {
            "$ref": "#/components/responses/common.403Forbidden"
          }
        },
        "tags": [
          "Alert Rules"
        ]
      }
    },
    "/alerting/alert-rules/{id}": {
      "get": {
        "summary": "Fetch the specified alert rule",
        "operationId": "get-alert-rule",
        "description": "Fetch a single alert rule by its id",
        "security": [
          {
            "oauth2": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/common.OrganizationRequestParam"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The alert rule id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/alert-rules.AlertRuleResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/common.400BadRequestResponse"
          },
          "403": {
            "$ref": "#/components/responses/common.403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/common.404NotFoundResponse"
          }
        },
        "tags": [
          "Alert Rules"
        ]
      },
      "put": {
        "summary": "Replace an alert rule",
        "operationId": "update-alert-rule",
        "description": "Fully replace an existing alert rule",
        "security": [
          {
            "oauth2": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/common.OrganizationRequestParam"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The alert rule id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/alert-rules.AlertRuleRequest"
              },
              "examples": {
                "minimal": {
                  "summary": "Minimal \u2014 required fields only",
                  "value": {
                    "metric": "client_health_score",
                    "dimensionSet": [
                      "network",
                      "band"
                    ],
                    "aggregationFunction": "avg",
                    "thresholdValue": 70.0,
                    "thresholdOperator": "<"
                  }
                },
                "full": {
                  "summary": "Full \u2014 with overrides and notifications",
                  "value": {
                    "name": "Low client health on guest network",
                    "metric": "client_health_score",
                    "dimensionSet": [
                      "network",
                      "band"
                    ],
                    "aggregationFunction": "avg",
                    "thresholdValue": 70.0,
                    "thresholdOperator": "<",
                    "pendingPeriodSeconds": 600,
                    "missingDataPolicy": "ignore",
                    "enabled": true,
                    "notificationConfig": {
                      "deliveries": [
                        {
                          "kind": "email",
                          "address": "neteng@example.com"
                        },
                        {
                          "kind": "servicenow",
                          "mdsConfigId": "abc-123",
                          "organizationName": "globalcorp"
                        }
                      ]
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/alert-rules.AlertRuleResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/common.400BadRequestResponse"
          },
          "403": {
            "$ref": "#/components/responses/common.403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/common.404NotFoundResponse"
          }
        },
        "tags": [
          "Alert Rules"
        ]
      },
      "delete": {
        "summary": "Delete an alert rule",
        "operationId": "delete-alert-rule",
        "description": "Delete an existing alert rule",
        "security": [
          {
            "oauth2": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/common.OrganizationRequestParam"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The alert rule id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "400": {
            "$ref": "#/components/responses/common.400BadRequestResponse"
          },
          "403": {
            "$ref": "#/components/responses/common.403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/common.404NotFoundResponse"
          }
        },
        "tags": [
          "Alert Rules"
        ]
      }
    },
    "/alerting/alert-rules/{id}/enabled": {
      "patch": {
        "summary": "Enable or disable an alert rule",
        "operationId": "patch-alert-rule-enabled",
        "description": "Toggle the enabled state of an alert rule",
        "security": [
          {
            "oauth2": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/common.OrganizationRequestParam"
          },
          {
            "name": "id",
            "in": "path",
            "description": "The alert rule id",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/alert-rules.EnabledRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/alert-rules.AlertRuleResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/common.400BadRequestResponse"
          },
          "403": {
            "$ref": "#/components/responses/common.403Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/common.404NotFoundResponse"
          }
        },
        "tags": [
          "Alert Rules"
        ]
      }
    },
    "/alerting/incidents": {
      "get": {
        "summary": "List incidents",
        "operationId": "list-alerting-incidents",
        "description": "Page through alert-rule incidents for an organization, with optional filtering",
        "security": [
          {
            "oauth2": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/common.OrganizationRequestParam"
          },
          {
            "$ref": "#/components/parameters/alert-incidents.StatusFilterParam"
          },
          {
            "$ref": "#/components/parameters/alert-incidents.MetricFilterParam"
          },
          {
            "$ref": "#/components/parameters/alert-incidents.DimensionKeyFilterParam"
          },
          {
            "$ref": "#/components/parameters/alert-incidents.RuleIdFilterParam"
          },
          {
            "$ref": "#/components/parameters/alert-incidents.StartedAfterParam"
          },
          {
            "$ref": "#/components/parameters/alert-incidents.StartedBeforeParam"
          },
          {
            "$ref": "#/components/parameters/alert-incidents.ResolvedAfterParam"
          },
          {
            "$ref": "#/components/parameters/alert-incidents.ResolvedBeforeParam"
          },
          {
            "$ref": "#/components/parameters/common.PageRequestParam"
          },
          {
            "$ref": "#/components/parameters/common.PerPageRequestParam"
          },
          {
            "$ref": "#/components/parameters/common.SortFieldParam"
          },
          {
            "$ref": "#/components/parameters/common.SortOrderParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/alert-incidents.GetIncidentsResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/common.400BadRequestResponse"
          },
          "403": {
            "$ref": "#/components/responses/common.403Forbidden"
          }
        },
        "tags": [
          "Incidents (Alerting)"
        ]
      }
    },
    "/alerting/incidents/by-rule": {
      "get": {
        "summary": "List incidents aggregated by rule",
        "operationId": "list-alerting-incidents-by-rule",
        "description": "Fetch incident counts grouped by the alert rule that produced them",
        "security": [
          {
            "oauth2": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/common.OrganizationRequestParam"
          },
          {
            "$ref": "#/components/parameters/alert-incidents.FromParam"
          },
          {
            "$ref": "#/components/parameters/alert-incidents.ToParam"
          },
          {
            "$ref": "#/components/parameters/common.PageRequestParam"
          },
          {
            "$ref": "#/components/parameters/common.PerPageRequestParam"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/alert-incidents.GetIncidentsByRuleResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/common.400BadRequestResponse"
          },
          "403": {
            "$ref": "#/components/responses/common.403Forbidden"
          }
        },
        "tags": [
          "Incidents (Alerting)"
        ]
      }
    },
    "/alerting/incidents/summary": {
      "get": {
        "summary": "Get an incidents summary",
        "operationId": "alerting-incidents-summary",
[...]
